
    <h1>Faves Page</h1>
<ul>
    <% favorites.forEach((book)=>{ %>
        <div>
            <li>
                <h3><%= book.title %></h3>
                <p>By:<%= book.authors %></p>
                
                <a href="/results/<%= book.bookId %>">Details</a>
                <form method="POST" action="/faves/<%=book.id%>?_method=DELETE">
                    <button type="submit" class="btn btn-danger">
                      Remove Book
                    </button>
                </form>
            </li>
        </div>
    <% }) %> 
</ul>